version: '3'

services:

   # Gravity Core Components
   internal-nats-server:
     image: "nats:2.2.6"
     restart: always
     expose:
     - "4222"
     ports:
       - "_@@PORT@@_:4222"

   gravity-controller:
     image: "brobridgehub/gravity-controller:v2.0.0"
     hostname: gravity-controller
     restart: always
     environment:
     - GRAVITY_CONTROLLER_GRAVITY_HOST=internal-nats-server
     - GRAVITY_CONTROLLER_GRAVITY_PORT=4222
     depends_on:
     - "internal-nats-server"

   # Data Mapping Rules
   gravity-synchronizer:
     image: "brobridgehub/gravity-synchronizer:v4.0.0"
     restart: always
     hostname: gravity-synchronizer
     environment:
       GRAVITY_SYNCHRONIZER_GRAVITY_HOST: internal-nats-server
       GRAVITY_SYNCHRONIZER_GRAVITY_PORT: 4222
       GRAVITY_SYNCHRONIZER_RULES_SETTINGS: |
         {
          "rules": [
            {
              "event": "_@@EVENT_INIT@@_",
              "collection": "_@@COLLECTION_NAME@@_",
              "method": "insert",
              "primaryKey": "_@@PRI_KEY@@_",
              "mapping": [
                {
                  "source": "_@@PRI_KEY@@_",
                  "target": "_@@PRI_KEY@@_"
                },
                {
                  "source": "_@@FIELD_NAME_1@@_",
                  "target": "_@@FIELD_NAME_1@@_"
                },
                {
                  "source": "_@@FIELD_NAME_2@@_",
                  "target": "_@@FIELD_NAME_2@@_"
                },
                {
                  "source": "_@@FIELD_NAME_3@@_",
                  "target": "_@@FIELD_NAME_3@@_"
                }
              ]
            },
            {
              "event": "_@@EVENT_CREATE@@_",
              "collection": "_@@COLLECTION_NAME@@_",
              "method": "insert",
              "primaryKey": "_@@PRI_KEY@@_",
              "mapping": [
                {
                  "source": "_@@PRI_KEY@@_",
                  "target": "_@@PRI_KEY@@_"
                },
                {
                  "source": "_@@FIELD_NAME_1@@_",
                  "target": "_@@FIELD_NAME_1@@_"
                },
                {
                  "source": "_@@FIELD_NAME_2@@_",
                  "target": "_@@FIELD_NAME_2@@_"
                },
                {
                  "source": "_@@FIELD_NAME_3@@_",
                  "target": "_@@FIELD_NAME_3@@_"
                }
              ]
            },
            {
              "event": "_@@EVENT_UPDATE@@_",
              "collection": "_@@COLLECTION_NAME@@_",
              "method": "update",
              "primaryKey": "_@@PRI_KEY@@_",
              "mapping": [
                {
                  "source": "_@@PRI_KEY@@_",
                  "target": "_@@PRI_KEY@@_"
                },
                {
                  "source": "_@@FIELD_NAME_1@@_",
                  "target": "_@@FIELD_NAME_1@@_"
                },
                {
                  "source": "_@@FIELD_NAME_2@@_",
                  "target": "_@@FIELD_NAME_2@@_"
                },
                {
                  "source": "_@@FIELD_NAME_3@@_",
                  "target": "_@@FIELD_NAME_3@@_"
                }
              ]
            },
            {
              "event": "_@@EVENT_DEL@@_",
              "collection": "_@@COLLECTION_NAME@@_",
              "method": "delete",
              "primaryKey": "_@@PRI_KEY@@_",
              "mapping": [
                {
                  "source": "_@@PRI_KEY@@_",
                  "target": "_@@PRI_KEY@@_"
                }
              ]
            }
          ]
         }
     depends_on:
     - "gravity-controller"
     - "internal-nats-server"

   # Destination Settings
   gravity-transmitter-postgres:
     image: "brobridgehub/gravity-transmitter-postgres:v3.0.0"
     hostname: gravity-transmitter-postgres
     restart: always
     environment:
       GRAVITY_TRANSMITTER_POSTGRES_GRAVITY_HOST: 172.17.0.1:4223
       GRAVITY_TRANSMITTER_POSTGRES_DATABASE_HOST: 172.17.0.1
       GRAVITY_TRANSMITTER_POSTGRES_DATABASE_PORT: 5432
       GRAVITY_TRANSMITTER_POSTGRES_DATABASE_USERNAME: postgres
       GRAVITY_TRANSMITTER_POSTGRES_DATABASE_PASSWORD: 1qaz@WSX
       GRAVITY_TRANSMITTER_POSTGRES_DATABASE_DBNAME: gravity
       GRAVITY_TRANSMITTER_POSTGRES_SUBSCRIPTION_SETTINGS: |  
        {                
                "subscriptions": {
                        "_@@COLLECTION_NAME@@_": [
                                "_@@SRC_TABLE@@_"
                        ]
                }        
        }

   # Data Source Settings
   gravity-adapter-mysql:
     image: "brobridgehub/gravity-adapter-mysql:v2.0.0"
     restart: always
     hostname: gravity-adapter-mysql
     environment:
       GRAVITY_ADAPTER_MYSQL_GRAVITY_HOST: 172.17.0.1
       GRAVITY_ADAPTER_MYSQL_GRAVITY_PORT: 4223
       GRAVITY_ADAPTER_MYSQL_SOURCE_SETTINGS: |
         {
              "sources": {
                      "mysql_example": {
                              "disabled": false,
                              "host": "172.17.0.1",
                              "port": 3306,
                              "username": "root",
                              "password": "1qaz@WSXROOT",
                              "dbname": "gravity",
                              "initialLoad": true,
                              "tables": {
                                      "products":{
                                              "events": {
                                                      "snapshot": "_@@EVENT_INIT@@_",
                                                      "create": "_@@EVENT_CREATE@@_",
                                                      "update": "_@@EVENT_UPDATE@@_",
                                                      "delete": "_@@EVENT_DEL@@_"
                                              }
                                      }
                              }
                      }
              }
         }
